html,body{
  padding :0;
  margin:  0;
}


.content .container .item{
  margin-top: 20px;
}

.mt-10{
  margin-top: 10px;
}
.ml-10{
  margin-left: 10px;
}

.text-color{
  color: #ffffff !important;
}

.tw{
  height: 300px;
}